body{
  font-family: 'Noto Sans JP','Noto Sans', sans-serif;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}
@media only screen and (min-width: 769px){
  body{
    width: inherit;
    max-width: inherit;
  }
}
.mem-submit input{
  padding: 10px 100px 10px 100px;
  background-color: #D71920;
  border: solid 2px #D71920;
  border-radius: 3em;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.mem-submit input:hover{
  opacity: 0.6;
}
.mem-inquire label::after{
  content: "*";
  color: #D71920;
}
.mem-input input{
  width: 100%;
  padding: 18px 22px;
  box-sizing: border-box;
}
.errors,
.error.no-label{
    color: #D71920;
}
.mem-input.mem-inquire.error input{
  outline: solid 2px #D71920;
  outline-offset: -2px;
  border-radius: 3px;
}
.g-recaptcha{
  text-align: center;
}
.g-recaptcha > div{
  display: inline-block;
}
.mem-submit{
  text-align: center;
}
.mem-note{
  font-size: 14px;
}
@media only screen and (min-width: 769px){
  .g-recaptcha{
    padding-top: 10px;
  }
  .mem-submit{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .mem-input{
    width: 50%;
    display: block;
    margin: 16px auto;
  }
  .errors,
  .error.no-label{
      margin-left: 25%;
  }
  /*姓・名*/
  .mem-input.last_name,
  .mem-input.last_name.error{
      display: inline-block;
      width: 23%;
      margin: 0 3% 0 25%;
  }
  .mem-input.first_name,
  .mem-input.first_name.error{
      display: inline-block;
      width: 23%;
      margin: 0 25% 0 0;
  }
  .mem-input.last_name + * + .error.no-label{
      display: none;
  }
  .mem-input.first_name + * + .error.no-label{
    margin-top: 0;
  }
}
