body{
  font-family: 'Noto Sans JP','Noto Sans', sans-serif;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}
.mem-submit input{
  padding: 6px 25px 6px 25px;
  background-color: #D71920;
  border: solid 2px #D71920;
  border-radius: 3em;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.mem-submit input:hover{
  opacity: 0.6;
}
.mem-inquire label::after{
  content: "*";
  color: #D71920;
}
.form-field input{
  width: 100%;
  padding: 18px 22px;
  box-sizing: border-box;
}
.errors,
.error.no-label{
    color: #D71920;
}
.form-field.mem-inquire.error input{
  outline: solid 2px #D71920;
  outline-offset: -2px;
  border-radius: 3px;
}
.mem-input.last_name,
.mem-input.last_name.error{
    display: inline-block;
    width: 47%;
    margin-right: 5%;
}
.mem-input.first_name,
.mem-input.first_name.error{
    display: inline-block;
    width: 47%;
}
.mem-input.last_name + .error.no-label{
    display: none;
}
