body{
  font-family: 'Noto Sans JP','Noto Sans', sans-serif;
}
.mem-submit input{
  padding: 6px 25px 6px 25px;
  background-color: #D71920;
  border: solid 2px #D71920;
  border-radius: 3em;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.mem-submit input:hover{
  opacity: 0.75;
}
.mem-inquire label::after{
  content: "*";
  color: #D71920;
}
.mem-inquire input{
  width: 100%;
}
