.narrow_bar{
  display: none;
}
.narrow_bar ul{
  display: none;
}
.narrow_bar:hover ul{
  display: block;
}
.recipes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.img_wrapper{
  height: 200px;
  display: flex;
  align-items: center;
}
@media screen and (max-width:900px){
  .recipe{
    width: 240px;
    margin: 10px;
  }
}
/*.recipe_wrapper{
  position: relative;
  height: 180px;
}

.recipe_wrapper::before{
    content: "";
    display: block;
    padding-top: 100%;
}
*/
.buttons{
  display: flex;
  text-align: center;
}
.buttons{
  display: flex;
}
.hotandiced_button{
  width: 50%;
}
.hot_button{
  background-color: pink;
}
.iced_button{
  background-color: skyblue;
}
.recipe_wrapper{

}
.hot_recipe{
  left: 0;
  background-color: pink;

  display: none;

}
.iced_recipe{
  background-color: skyblue;

}
