.narrow_bar{
  display: none;
}
.narrow_bar ul{
  display: none;
}
.narrow_bar:hover ul{
  display: block;
}
.recipes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.recipe{
  display: inline-block;
  width: 280px;
  margin: 20px;

  border-top: solid 1px gray;
  border-left: solid 1px gray;
  border-right: solid 1px gray;
  border-bottom: solid 1px gray;
  box-sizing: border-box;

  display:flex;
  flex-direction: column;
  align-items: center;
}


.img_wrapper{
  height: 200px;
  display: flex;
  align-items: center;
}
@media screen and (max-width:900px){
  .recipe{
    width: 240px;
    margin: 10px;
  }
}
.recipe_wrapper{
  position: relative;
  height: 180px;
}
.recipe_wrapper::before{
    content: "";
    display: block;
    padding-top: 100%; /* 1:1 */
}
.button_wrapper{
  display: flex;
  text-align: center;
}
.hotandiced_button{
  width: 50px;
}
.hot_button{
  background-color: red;
}
.iced_button{
  background-color: blue;
}
.hotandiced_menu{
  position: absolute;
  top: 0;
  width: 80%;
  height: 100%;
}
.hot_menu{
  left: 0;
  background-color: red;
  z-index: 1;
}
.iced_menu{
  left: 20px;
  background-color: blue;
  z-index: 2;
}
