.narrow_bar{
  display: none;
}
.narrow_bar ul{
  display: none;
}
.narrow_bar:hover ul{
  display: block;
}
.recipes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.bg-yellow{
  background: rgb(250,244,238);
}
.img_wrapper{
  height: 200px;
  display: flex;
  align-items: center;
}
@media screen and (max-width:900px){
  .recipe{
    width: 240px;
    margin: 10px;
  }
}
/*.recipe_wrapper{
  position: relative;
  height: 180px;
}

.recipe_wrapper::before{
    content: "";
    display: block;
    padding-top: 100%;
}
*/
.buttons{
  display: flex;
  text-align: center;
}
.all-wrapper{
  padding: 30px 0;

}
.hotandiced_button{
  width: 50%;
  height: 3em;

  display: flex;
  justify-content: center;
  align-items: center;
}
.hot_button{
  background-color: white;
}
.iced_button{
  background-color: white;
}
.recipe_wrapper{

}
.hot_recipe{
  background-color: white;
}
.iced_recipe{
  background-color: white;

}
.recipe_body{
  padding: 20px;

}
.sortLandR{
  display: flex;
  justify-content: space-between;
}
